{{ 'section-rich-text-colums.css' | asset_url | stylesheet_tag }}




<div id="{{ section.id }} ">


    <h1>Rich text Columns</h1>

</div>


{% schema %}
{
    "name": "t:sections.rich-text-columns.name",
    "class": "section",
    "settings": [],
    "blocks":[],
    "presets":[]
}
{% endschema %}